<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>
    <style>
        ul {
            list-style-type: none;
        }
        
        .myTitleClass .ui-dialog-titlebar {
            background: #e6f3ff;
        }
        b{
        font-size: 18px;
        }
    </style>
</head>

<body>
    <div id="dialog" title="Job Tasks">
        <p>Remove tasks in the list with a click.</p>
    </div>
    <div class="container">
        <h3>Work Experience:</h3>
        <br>
        <!--
        <b>{{jobname}}</b>
        <br>
        <div class="row">
            <div class="col">
                {{company}}
            </div>
            <div class="col">
                {{compcity}},&nbsp;&nbsp;{{compstate}}
                <br>
            </div>
            <div class="col">
                {{compyears}} </div>
        </div>
-->
        <b>{{jobname}}</b>
        <br> {{company}}
        <br> {{compcity}},&nbsp;&nbsp;{{compstate}}
        <br> {{compyears}}
        <br>
        <br>
        <ul class="list-group" id="ul">

            {{results|safe}} </ul>
        <br>
        <br>

        <b>{{jobname2}}</b>
        <br>
<!--
        <div class="row">
            <div class="col">
                {{company2}}
            </div>
            <div class="col">
                {{compcity2}},&nbsp;&nbsp;{{compstate2}}
                <br>
            </div>
            <div class="col">
                {{compyears2}}</div>
        </div>
-->

        {{company2}}
        <br> {{compcity2}},&nbsp;&nbsp;{{compstate2}}
        <br> {{compyears2}}
        <br>
        <br>
        <ul class="list-group" id="ul">
            {{results2|safe}}
        </ul>
        <br>
        <br>

        <b>{{jobname3}}</b>
        <br> {{company3}}

        <br> {{compcity3}},&nbsp;&nbsp;{{compstate3}}
        <br> {{compyears3}}
        <br>
        <br>
        <ul class="list-group" id="ul">
            {{results3|safe}}
        </ul>
        <br><br>
    </div>
    
<!--    Remove Tasks Script-->
    <script>
        $("#ul li").click(function(e) {
            $(this).remove();
        });
    </script>

<!--    Dialog Script-->
    <script>
        $(function() {
            $("#dialog").dialog({
                dialogClass: 'myTitleClass',
                position: {
                    my: "right top",
                    at: "right+100 top+100",
                    of: "body"
                }
            });
        });
    </script>
    
    
</body>

</html>